.alex-brush-regular {
  font-family: "Alex Brush", cursive;
  font-weight: 400;
  font-style: normal;
}

@media (max-width: 576px) {
    .hero h1 {
        font-size: 2rem;      /* ukuran pas untuk HP kecil */
    }
    .hero p {
        font-size: 1rem;
    }
}

section:not(.hero) {
        display: none;
        opacity: 0;
        transition: opacity 0.8s ease-in-out;
    }

section.show {
        display: block;
        opacity: 1;
}

 #music-btn {
            position: fixed;
            bottom: 25px;
            right: 25px;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background: #0d6efd;
            color: white;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 26px;
            cursor: pointer;
            z-index: 9999;
            box-shadow: 0 4px 12px rgba(0,0,0,0.3);
            transition: transform 0.3s ease;
        }

#music-btn:hover {
    transform: scale(1.12);
}

#music-btn:active {
    transform: scale(0.92);
}